Repository SAP/swagger-plugin-for-sphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, yesqa, pyupgrade, tomlsort, uv-lock

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

yesqa:
  name: yesqa
  entry: yesqa
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  language: system
  args:
  - --py310-plus

tomlsort:
  name: tomlsort
  entry: toml-sort
  language: system
  args:
  - --in-place

uv-lock:
  name: uv-lock
  entry: uv lock
  args:
  - --check
  language: system
  pass_filenames: false
  require_serial: true

Improvements
  news/+cf9dc234.feature.md
  swagger_plugin_for_sphinx/_openapi_index.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

feat: Add paths and schema text to search index (#488)
  news/+cf9dc234.feature.md
  pyproject.toml
  swagger_plugin_for_sphinx/_openapi_index.py
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_integration.py
  tests/test_openapi_index.py
  tests/test_plugin.py
  uv.lock
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade, tomlsort, uv-lock

Fix python version selection
  .github/workflows/main.yml
Due: none

Fix
  .github/workflows/main.yml
Due: none

Fix
  swagger_plugin_for_sphinx/_openapi_index.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Add newsfile
  news/+eccac86e.fix.md
Due: none

Add exclude
  .github/workflows/main.yml
Due: none

Format
  .github/workflows/main.yml
Due: none

Fix
  .github/workflows/release.yml
Due: none

Improve README
  README.md
Due: none

Remove obsolete enable-extensions
  .flake8
Due: none

Remove obsolete enable-extensions (#523)
  .flake8
Due: none

Fix python version selection (#519)
  .github/workflows/main.yml
  .github/workflows/release.yml
  news/+eccac86e.fix.md
  swagger_plugin_for_sphinx/_openapi_index.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Improve README (#522)
  README.md
Due: none

Fix
  .flake8
Due: none

Overwrite the copied spec in _static on every build
  news/625.fix
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Fix
  pyproject.toml
Due: tomlsort, uv-lock

Overwrite the copied spec in _static on every build (#627)
  news/625.fix
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Remove support for python3.10/sphinx8
  .flake8
  .github/workflows/main.yml
  news/+4d175ee2.removal.md
  news/+f5f59440.removal.md
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Remove support for python3.10/sphinx8 (#636)
  .flake8
  .github/workflows/main.yml
  news/+4d175ee2.removal.md
  news/+f5f59440.removal.md
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Fix pyupgrade setting
  .pre-commit-config.yaml
Due: none

Fix pyupgrade setting (#640)
  .pre-commit-config.yaml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  yesqa: any of: \.py$
  pyupgrade: any of: \.py$
  tomlsort: any of: \.toml$
  uv-lock: any of: ^(uv\.lock|pyproject\.toml)$
