Repository SAP/swagger-plugin-for-sphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, yesqa, pyupgrade, tomlsort, uv-lock

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

yesqa:
  name: yesqa
  entry: yesqa
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  language: system
  args:
  - --py310-plus

tomlsort:
  name: tomlsort
  entry: toml-sort
  language: system
  args:
  - --in-place

uv-lock:
  name: uv-lock
  entry: uv lock
  args:
  - --check
  language: system
  pass_filenames: false
  require_serial: true

Add support for sphinx10
  .github/workflows/main.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Add support for sphinx10 (#354)
  .github/workflows/main.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Step up to 6.1.0
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  uv.lock
Due: uv-lock

Step up to 6.1.0 (#355)
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Improve CI
  .github/workflows/main.yml
  pyproject.toml
Due: tomlsort, uv-lock

Improve CI (#361)
  .github/workflows/main.yml
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  tests/test_integration.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Adapt
  .github/dependabot.yml
  renovate.json
Due: none

Fix
  renovate.json
Due: none

Fix uv version in release
  .github/workflows/release.yml
Due: none

Fix uv version in release (#377)
  .github/workflows/release.yml
Due: none

Fix
  tests/test_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Update project
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  news/+9002ce43.change.md
  news/.gitignore
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Fix
  pyproject.toml
Due: tomlsort, uv-lock

Fix
  .github/workflows/main.yml
  news/+e94855a0.removal.md
  pyproject.toml
Due: tomlsort, uv-lock

Update project (#421)
  .github/workflows/main.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  news/+9002ce43.change.md
  news/+e94855a0.removal.md
  news/.gitignore
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Update CI coverage job to always run
  .github/workflows/main.yml
Due: none

Fix
  .pre-commit-config.yaml
  uv.lock
Due: uv-lock

Reset chardet
  uv.lock
Due: uv-lock

Fix
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Fix release action
  .github/workflows/release.yml
Due: none

Fix release action (#455)
  .github/workflows/release.yml
Due: none

Remove chardet dependency
  pyproject.toml
  uv.lock
Due: tomlsort, uv-lock

Improve renovate config
  renovate.json
Due: none

Improve renovate config (#480)
  renovate.json
Due: none

Add ability to mirror Swagger resources to doctree
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Add docs
  README.md
  news/ced4da0.add.md
Due: none

feat: Add paths and schema text to search index
  pyproject.toml
  swagger_plugin_for_sphinx/_openapi_index.py
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_openapi_index.py
  tests/test_plugin.py
  uv.lock
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade, tomlsort, uv-lock

fix: Address review feedback
  swagger_plugin_for_sphinx/_openapi_index.py
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_integration.py
  tests/test_openapi_index.py
  tests/test_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Add option to mirror resources (#509)
  README.md
  news/ced4da0.add.md
  swagger_plugin_for_sphinx/_plugin.py
  tests/test_plugin.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Improve release action
  .github/workflows/release.yml
Due: none

Fix changelog
  CHANGELOG.md
  news/ced4da0.add.md
Due: none

Fix changelog (#515)
  CHANGELOG.md
  news/ced4da0.add.md
Due: none

Improve release action (#514)
  .github/workflows/release.yml
Due: none

Improvements
  news/+cf9dc234.feature.md
  swagger_plugin_for_sphinx/_openapi_index.py
Due: black, isort, mypy, pylint, flake8, yesqa, pyupgrade

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  yesqa: any of: \.py$
  pyupgrade: any of: \.py$
  tomlsort: any of: \.toml$
  uv-lock: any of: ^(uv\.lock|pyproject\.toml)$
